/* global.scss o styles.scss */

html, body {
  margin: 0;
  padding: 0;
  background: #000;  
}

 ion-content {
  --background: #000;
}

 .page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page app-footer {
  margin-top: auto;
}
